/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

@import url("components/banner.css");
@import url("components/button.css");
@import url("components/card.css");
@import url("components/footer.css");
/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}


/* Custom design below! */
.how-it-works {
  margin: 0 auto;
  text-align: center;
}

.how-it-works-card-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center

}
